<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Queuing App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login As Merchant</a>
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register As Merchant</a> 
      <a class="nav-link" routerLink="/customerlogin" routerLinkActive="active">Login As Customer</a>
      <a class="nav-link" routerLink="/registercustomer" routerLinkActive="active">Register As Customer</a>   
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>